.error {
    color: red;
    font-size: 0.8rem;
}

.is-invalid {
    border: 1px solid red;
}

.nav-link, .brand {
    color: #fff !important;
}

.draggable {
    transition: transform 0.3s ease;
}

.drag-over {
    background-color: #f0f0f0; /* Changement de couleur de fond pour les conteneurs pendant le drag */
}

.dragging {
    transform: scale(1.05); /* Agrandissement légèrement l'élément en cours de déplacement */
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Ajout d'une ombre pour le mettre en évidence */
}

/* Navigation */
.custom-navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.custom-nav {
    list-style: none;
    padding: 0;
}

.custom-nav-item {
    display: inline;
    margin-right: 20px;
}

.custom-nav-item a {
    color: white;
    text-decoration: none;
}

.custom-nav-right {
    align-items: center;
    display: flex;
}

.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.custom-dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown:hover .custom-dropdown-menu {
    display: block;
}

.custom-dropdown-toggle:after {
    content: ' ▼';
}

.custom-navbar-toggler {
    display: none;
    cursor: pointer;
    color: white;
}

.custom-navbar-toggler span {
    font-size: 20px;
}


/* Style par défaut pour les grands écrans */

@media screen and (max-width: 768px) {
    /* Styles pour les écrans mobiles */

    .custom-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-navbar-toggler {
        display: block;
    }

    .custom-nav, .custom-nav-right {
        display: none;
        width: 100%;
    }

    .custom-nav-item, .custom-nav-right .custom-nav-item {
        display: block;
        margin-right: 0;
    }

    .custom-nav-item a, .custom-nav-right .custom-nav-item a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
    }

    .custom-dropdown-menu {
        position: relative;
    }
}
